:root {
  --black: #000000;
  --lightGray: #e0e0e0;
  --white: #fffce2;

  --darkBlue: #082032;
  --darkBlueTransparent: #08203299;

  --grayBlue: #6c9abe;
  --blue: #0081c9;
  --skyBlue: #a0d9f8;
  --lightBlue: #c0f1ff;

  --darkYellow: #f0a500;
  --yellow: #ffc93c;
  --paleYellow: #fde3a2;

  --neonGreen: #a1e423;
  --brightGreen: #cbfd6e;
}

* {
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
  margin: 0;
}

body {
  background: var(--lightBlue);
  color: var(--darkBlue);
  font-size: 16px;
  margin: 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 85%;
}

/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */

header {
  background: var(--lightBlue);
  border-bottom: 0.2rem solid var(--darkBlueTransparent);
  height: 9rem;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 700;
}

.header {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr;
  height: 100%;
}

.logo-div {
  display: grid;
  justify-content: center;
  align-items: center;
}

.logo-div a img {
  display: flex;
  align-items: center;
  height: auto;
  width: 12rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  grid-column: 12/17;
}

.navbar div {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  width: auto;
}

.navbar div img {
  padding: 0 0.5rem;
}

.navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */

.hero {
  background-image: url("../img/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  height: 40vw;
  position: relative;
  top: 9rem;
}

.hero-div {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  padding: 2rem;
}

.hero-title {
  background-color: #00000096;
  border-radius: 2rem;
  color: var(--white);
  font-family: "Tilt Warp", cursive;
  font-size: 4.8rem;
  font-weight: 1000;
  grid-column: 2/3;
  margin: 0;
  padding: 2rem;
  text-align: left;
  text-transform: uppercase;
}

.hero-text {
  background-color: #00000096;
  border-radius: 2rem;
  color: var(--white);
  font-size: 2rem;
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0;
  padding: 2rem;
  text-align: center;
  text-transform: lowercase;
}

/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */

.envio-section {
  background: var(--lightBlue);
  padding: 7rem 0;
  position: relative;
  top: 9rem;
}

.envio-bar {
  background: var(--skyBlue);
  border: 0.2rem solid var(--black);
  border-radius: 2rem;
  display: grid;
  grid-row-gap: 2rem;
  justify-content: center;
  padding: 5rem 1rem;
  width: 55%;
}

.envio-bar h2 {
  text-align: left;
  font-size: 3rem;
  font-weight: 800;
  margin: 0 0 2rem 0;
}

.paso-input {
  align-items: center;
  background: var(--lightBlue);
  border: 0.2rem solid var(--black);
  border-radius: 4rem;
  display: flex;
  justify-content: space-around;
  margin: 0.5rem 0;
  padding: 1rem;
}

.paso-input form {
  display: flex;
  justify-content: space-around;
}

.paso-input label {
  align-items: center;
  display: flex;
  font-weight: 600;
}

#codigo-postal {
  border-radius: 1rem 1rem 0 0;
  font-size: 1.6rem;
  height: 3rem;
  text-align: center;
  width: 30%;
}

.paso-display {
  align-items: center;
  background: var(--lightBlue);
  border: 0.2rem solid var(--black);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 1rem;
}

.paso-display label {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  font-weight: 600;
}

.choose-size {
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 1rem;
}

.paquete-size {
  align-items: center;
  background: var(--skyBlue);
  border: 0.15rem solid var(--black);
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: 5fr 1fr 1fr;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-align: center;
}

.paquete-size img {
  justify-self: center;
  display: flex;
  height: auto;
  width: 10rem;
}

.paquete-size h6 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}

.paquete-size p {
  font-size: 1.2rem;
  margin: 0;
  text-transform: capitalize;
}

.iniciar-envio {
  background: var(--yellow);
  border: 0.2rem solid var(--black);
  border-radius: 2.5rem;
  font-size: 1.8rem;
  font-weight: 800;
  justify-self: center;
  padding: 1.5rem;
  text-transform: uppercase;
  width: auto;
}

.disabled {
  background: var(--paleYellow);
}

/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */

footer {
  background: var(--grayBlue);
  margin: 0;
  position: relative;
  top: 9rem;
  width: 100%;
}

.site-map {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.site-map ul {
  list-style: none;
  margin: 0;
  padding: 4rem 2rem;
  text-transform: capitalize;
  line-height: 2.5rem;
}

.site-map a {
  color: var(--darkBlue);
  text-decoration: none;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 4rem 2rem;
}

.socials a {
  margin: 0 0.5rem;
}

.copyright {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  text-decoration: none;
}

.copyright a,
.copyright p {
  color: var(--lightGray);
  font-size: 1.4rem;
  margin: 0;
  text-decoration: none;
}
