:root {
  --black: #000000;
  --white: #fffce2;

  --darkBlue: #082032;
  --darkBlueTransparent: #08203299;

  --grayBlue: #334756;
  --blue: #0081c9;
  --skyBlue: #a0d9f8;
  --lightBlue: #c0f1ff;

  --darkYellow: #f0a500;
  --yellow: #ffc93c;

  --neonGreen: #a1e423;
  --brightGreen: #cbfd6e;
}

* {
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
  margin: 0;
}

body {
  background: var(--lightBlue);
  color: var(--black);
  font-size: 16px;
  margin: 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 85%;
}

/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */

header {
  background: var(--lightBlue);
  height: 9rem;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 700;
}

.header {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr;
  height: 100%;
}

.logo-div {
  display: grid;
  justify-content: center;
  align-items: center;
}

.logo-div a img {
  display: flex;
  align-items: center;
  height: auto;
  width: 12rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  grid-column: 12/17;
}

.navbar div {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  width: auto;
}

.navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */

.hero {
  background-image: url("../img/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  height: 50rem;
}

.hero-div {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  padding: 2rem;
}

.hero-title {
  background-color: #00000096;
  border-radius: 2rem;
  color: var(--white);
  font-family: "Tilt Warp", cursive;
  font-size: 4.8rem;
  font-weight: 1000;
  grid-column: 2/3;
  margin: 0;
  padding: 2rem;
  text-align: left;
  text-transform: uppercase;
}

.hero-text {
  background-color: #00000096;
  border-radius: 2rem;
  color: var(--white);
  font-size: 2rem;
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0;
  padding: 2rem;
  text-align: center;
  text-transform: lowercase;
}

/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */

.envio-section {
  padding: 7rem 0;
  background: var(--lightBlue);
}

.envio-bar {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.paso-input {
  align-items: center;
  background: var(--skyBlue);
  border: 0.2rem solid var(--black);
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 1rem;
}

.paso-input label {
  height: 1.8rem;
}

#codigo-postal {
  border-radius: 1rem 1rem 0 0;
  font-size: 1.6rem;
  height: 3rem;
  text-align: center;
  width: 30%;
}

.paso-display {
  align-items: center;
  background: var(--skyBlue);
  border: 0.2rem solid var(--black);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 1rem;
}

/* .paso-display form {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.paso-display label {
  display: flex;
  align-items: center;
}

.choose-size {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.paquete-size {
  text-align: center;
}

.paquete-size h6 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
}

.paquete-size p {
  font-size: 1.2rem;
  margin: 0;
  text-transform: capitalize;
}
